.form-wrapper {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 3.2rem 0 0 0;
    
    h1 {
        margin: 1rem;
        font-size: 1.5rem;
        text-align: start;
        color: #222;
    }
    .form {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        .box-input {
            margin: 1rem 0;
            p {
                margin-bottom: .3rem;
                color: #666;
            }
            .input {
                border: 1px solid rgba($color: #000000, $alpha: .2);
                padding: 0.6rem;
                font-size: 1.2rem;
                font-weight: 400;
                color: #444;
                width: 100%;
            }
        }
        .btn-form {
            margin: 1rem 0;
            padding: 0.6rem;
            background-color: #222;
            font-size: 1.3rem;
            color: #fff;
            &:hover {
                background-color: #444;
            }
        }
        .link {
            color: #000000;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    @media (min-width:780px) {
        margin: 10rem 0 0 0;
    }
}