.navbar-wrapper {
    display: flex;
    position: fixed;
    top: 0; left: 0; right: 0;
    width: 100%;
    flex-direction: row;
    padding: 0 .2rem;
    background-color: #ffffff;
    box-shadow: 0 .2rem .2rem rgba(0,0,0,.2);
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8vh;
        width: 100%;
        .logo {
            text-align: center;
            font-size: .6rem;
        }
        .hamburger-btn {
            z-index: 1;
        }
        .cart {
            font-size: 1.3rem;
            margin-right: .3rem;
        }
        .search {
            display: none;
        }
    }
    .sidebar {
        position: fixed;
        top: 0; left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 80%;
        background-color: #fff;
        padding-top: 3rem;
        box-shadow: 0 .2rem .2rem rgba(0,0,0,.2);
        transition: all 2s;
        .sidebar__nav {
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 90%;
            width: 100%;
            .sidebar__item {
                display: block;
                width: 100%;
                color: #111;
                border-bottom: 1px solid #111;
                padding: 1rem;
                &:hover {
                    background-color: #111;
                    color: #fff;
                }
            }
        }
        .sidebar__autentication {
            width: 100%;
            height: 10%;
            align-items: center;
            border-top: 1px solid #666;
            padding: 1rem 1rem;
            font-size: .8rem;
            .autentication {
                color: #666;
                padding: .5rem 1rem;
                &:hover {
                    color: #111;
                }
            }
            .br {
                border-right: 1px solid #666;
            }
        }
    }
    @media (min-width:780px) {
        flex-direction: column;
        width: auto;
        padding: 0 3rem;
        justify-content: center;
        .header {
            flex-direction: row;
            padding: 3rem 0;
            .search {
                display: block;
                font-size: 1.5rem;
            }
            .hamburger-btn {
                display: none;
            }
            .logo {
                font-size: 1.5rem;
            }
            .cart {
                display: flex;
            }
            .br {
                
            }
        }
        .sidebar {
            position: relative;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            height: auto;
            padding-top: 0;
            box-shadow: none;
            background-color: #111;
            .sidebar__nav {
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .sidebar__item {
                    font-size: .8rem;
                    color: #fff;
                    padding: 1rem;
                    width: auto;
                    border: none;
                    &:hover {
                        background-color: #fff;
                        color: #111;
                    }
                }
            }
            .sidebar__autentication {
                display: none;
            }
        }
    }
}

.autentication-700 {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    right: 5rem;
    .autentication-700__item {
        padding: .3rem;
        color: #666;
        &:hover {
            color: #111;
        }
    }
    .br {
        border-bottom: 1px solid #666;
        @media (min-width:900px) {
            border-bottom: none;
            border-right: 1px solid #666;
        }
    }
    @media (min-width:900px) {
        flex-direction: row;
    }
}

