.productsmain-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .btn {
        padding: 1rem;
        background-color: #222;
        color: #fff;
        margin: .5rem;
        text-align: center;
        &:hover {
            background-color: #444;
        }
    }
    @media(min-width: 780px) {
        .btn {
            margin: 1rem 7rem
        }
        .products {
            margin: 1rem 6rem;
            width: auto;
        }
    }
}
