@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700;6..12,800&family=Open+Sans:wght@400;600;700&family=Roboto:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
} 

.page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 3rem 0 3rem 0;
    text-align: start;
    z-index: 0;
    .title-section {
        margin: 2rem 4.1rem;
        text-align: center;
        border: 1px solid #666;
        padding: 1rem;
    }
    @media (min-width:780px) {
        margin: 9rem 0 0 0;
    }
}
.politicas {
    display: flex;
    width: 90%;
    flex-direction: column;
    text-align: start;
    line-height: 1.5rem;
    margin-top: 6rem;
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    h4 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    @media(min-width:780px) {
        margin: 15rem 3rem 10rem 3rem;
        
    }
}

.logotype-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin: 3rem 0;
    .insta {
        font-size: 2.5rem;
    }
    p {
        color: #333;
        font-weight: 400;
        font-size: .5rem;
    }
    h1 {
        font-size: 1rem;
    }
    @media(min-width: 780px) {
        .insta {
            font-size: 3.5rem;
        }
        p {
            font-size: .7rem;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
}

.backoffice {
    display: flex;
    flex-direction: column;
    header {
        display: none;
    }
    .aside {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        background-color: #000;
        color: #fff;
        h1 {
            font-size: 1.5rem;
            margin-bottom: .5rem;
            margin-left: 1rem;
        }
        div {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 1rem;
            li {
                list-style: none;
                cursor: pointer;
                margin-right: 1rem;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .section {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        .container {
            margin: .5rem 0;
        }
        .content-img {
            margin: 1rem;
            .img {
                width: 100%;
            }
        }
        .content-text {
            margin: 1rem;
        }
        .list {
            font-weight: 400;
            padding: 1rem;
            border: 1px solid #999;
            line-height: 1.5rem;
            .value {
                font-weight: 400;
            }
            span {
                font-weight: 600;
                margin-right: .5rem;
            }
        }
        .btns {
            margin: 1rem 0;
            display: flex;
            justify-content: flex-end;
            .btn {
                color: #fff;
                background-color: #666;
                font-size: 1rem;
                padding: .3rem 1rem;
                margin-right: .5rem;
                cursor: pointer;
                &:hover {
                    background-color: #333; 
                }
            }
            .red {
                background-color: red;
                color: #fff;
            }
            .green {
                background-color: green;
                color: #fff;
            }
        }
    }
    @media(min-width: 780px) {
        flex-direction: column;
        header {
            display: flex;
            background-color: #000;
            padding: 1rem;
            border-bottom: 1px solid #999;
            position: fixed;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            h1 {
                color: #fff;
                margin-left: 1rem;
            }
            .link {
                color: #fff;
                cursor: pointer;
                margin-right: 1rem;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .content-seccion {
            display: flex;
            flex-direction: row;
            .aside {
                height: 100vh;
                padding: 2rem 3rem 2rem 1rem;
                border-right: 1px solid #999;
                position: fixed;
                top: 4.42rem;
                h2 {
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                }
                div {
                    border-bottom: 1px solid #333;
                    border-top: 1px solid #333;
                    padding: .5rem;
                    flex-direction: column;
                    li {
                        font-size: .8rem;
                        text-transform: uppercase;
                        list-style: none;
                        margin: 1rem 2rem 1rem 1rem;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        } 
                    }
                }
            }
            .section {
                margin: 4rem 0 3rem 15rem;
                .container {
                    width: 75vw;
                    display: flex;
                    flex-direction: row;
                    .content-img {
                        width: 25%;
                    }
                    .content-text {
                        display: flex;
                        flex-direction: column;
                        width: 75%;
                        .list {
                            margin-right: 1rem;
                        } 
                    }
                }
            }
        }
    }
}
